
@model UserClaimViewModel
@{
    var userid=ViewBag.userId;
}

<div class="card">
    <div class="card-header">
       <h3> Manage UserClaim</h3>
    </div>                      
    <div class="card-body">                          
        <div class="row">
            <div class="col-md-12">   
                <form method="POST">    
                        <div class="row">       
                            <div class="col-sm-4">                            
                                @for (int i = 0; i < Model.Claims.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.Claims[i].ClaimType"/>
                                    <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input"/>
                                    <label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
                                        @Model.Claims[i].ClaimType
                                    </label>
                                }
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>      
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button type="submit"  class="btn btn-primary">Submit</button>
                                <a asp-controller="Administration" asp-action="EditUsers" 
                                asp-route-id="@Model.UserId" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                </form>        
           </div>          
        </div>
    </div>
</div>